.tier-wrapper select {
  display: inline-block;
}

.tier-wrapper input[type=text] {
  width: 50px !important;
}

.tier-wrapper fieldset {
  width: 100%;
}

#tiers-fieldset-wrapper {
  width: 100%;
}

.view_text {
  display: inline-block;
}

.tier-selector-wrapper {
  margin-bottom: 10px;
}
